.selected-out {
    stroke-width: 1;
    fill: lightblue;
}

.selected-in {
    stroke-width: 1;
    fill: lightgreen;
}

.selected-all {
    stroke-width: 1;
    fill: lightsalmon;
}

.clicked {
    stroke-width: 3;
    color: green;
    fill: lightgreen;
}

.selected-out-lines {
    stroke: lightblue;
    stroke-width: 4;
    /* fill: rgb(17, 17, 160); */

}

.selected-in-lines {
    stroke: green;
    stroke-width: 4;
}

.selected-all-lines {
    stroke: lightcoral;
    stroke-width: 4;
}

.circle-in {
    /* stroke: black; */
    stroke-width: 1;
    fill: greenyellow
}

.circle-out {
    /* stroke: black; */
    stroke-width: 1;
    fill: lightblue,
}

.glow {
    stroke: rgb(255, 174, 0);
    stroke-width: 3;
    fill: lightgrey;
}



/* .selectedText {
    font-weight: bold;
} */

/* text {
    font-weight: bold;
} */