.selected {
    stroke-width: 3;
    fill: lightblue;
}

.clicked {
    stroke-width: 3;
    color: green;
    fill: lightgreen;
}

.selectedLines {
    stroke: lightblue;
    stroke-width: 3;
}

.selectedText {
    font-weight: bold;
}

/* text {
    font-weight: bold;
} */