/* BASE STYLE */
body {
    overflow: scroll;
    margin: 0px;
}

div.button-area {
    position: fixed;
}

div.button-area .button {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    height: 60px;
    white-space: pre;
    vertical-align: top;
    padding-left: 7px;
    padding-right: 7px;
}

#btn-fig2, #btn-fig3, #btn-fig4 {
    display: initial;
}

svg.hidden {
    display: none;
}

circle.box-ui-circle {
    stroke: black;
    stroke-width: 1;
    fill: yellow;
    opacity: 0.30;
}

svg.highlights .modelBox, svg.highlights .modelBoxDiv {
    opacity: 0.30;
}

svg.highlights .modelBox:hover, svg.highlights .modelBoxDiv:hover {
    /*opacity: 1;*/
}

.boxRelation {
    opacity: 0.30;
}

/* HIGHLIGHTS STYLES */
.modelBox[highlight-state=all] {
    stroke-width: 1;
    fill: lightsalmon;
}

svg.highlights .boxRelation.highlight-to {
    stroke: lightgreen;
    stroke-width: 2;
}

svg.highlights .boxRelationEnd.highlight-to {
    fill: lightgreen;
}

.boxRelation.highlight-from {
    stroke: navy;
    stroke-width: 2;
}

.boxRelationEnd.highlight-from {
    fill: darkblue;
}

svg.highlights .boxRelation.highlight-from.highlight-to {
    stroke: lightcoral;
    stroke-width: 3;
}

.boxRelationEnd.highlight-from.highlight-to {
    fill: lightcoral;
}

.boxRelationEnd.highlight-from,
.boxRelationEnd.highlight-to,
.boxRelationEnd.highlight-from.boxRelationEnd.highlight-to {
    stroke-width: 2;
}

/* HIGHLIGHTS OPACITIES */
svg.highlights .modelBox[highlight-state=all] {
    opacity: 1;
}

svg.highlights .modelBoxDiv[highlight-state=all] {
    opacity: 1;
}

svg.highlights .modelBox.highlight-to, svg.highlights .modelBoxDiv.highlight-to {
    opacity: 1;
}

svg.highlights .boxRelation.highlight-to {
    opacity: 0.5
}

svg.highlights .boxRelation.highlight-from {
    opacity: 0.35;
}

svg.highlights .boxRelation.highlight-from.highlight-to {
    opacity: 1;
}