/* BASE STYLE */
body {
    overflow: scroll;
    margin: 0px;
}

div.button-area {
    position: fixed;
}

div.button-area .button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

circle.box-ui-circle {
    stroke: black;
    stroke-width: 1;
    fill: yellow;
}

.boxRelation {
    opacity: 0.25;
}

.boxRelation.highlight-from,
.boxRelation.highlight-to {
    opacity: 1;
}

/* HIGHLIGHTS */
/* Multimodal highlighting disabled for now - seems un-necessary
.modelBox[highlight-state=from] {
    stroke-width: 1;
    fill: lightblue;
}

.modelBox[highlight-state=to] {
    stroke-width: 1;
    fill: lightgreen;
}
*/

.modelBox[highlight-state=all] {
    stroke-width: 1;
    fill: lightsalmon;
}

.boxRelation.highlight-to {
    stroke: lightgreen;
    stroke-width: 2;
    opacity: 0.5
}

.boxRelationEnd.highlight-to {
    fill: lightgreen;
}

.boxRelation.highlight-from {
    stroke: lightblue;
    stroke-width: 2;
}

.boxRelationEnd.highlight-from {
    fill: lightblue;
}

.boxRelation.highlight-from.highlight-to {
    stroke: lightcoral;
    stroke-width: 3;
}

.boxRelationEnd.highlight-from.highlight-to {
    fill: lightcoral;
}

.boxRelationEnd.highlight-from,
.boxRelationEnd.highlight-to,
.boxRelationEnd.highlight-from.boxRelationEnd.highlight-to {
    stroke-width: 2;
}